@import "varibles";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html * {
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;

    &::marker {
      display: none;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: $primary-color;
  font-size: $font-s;
}

.container {
  min-width: 20rem;
  max-width: 70rem;
  width: 100%;
  margin: 30px auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 25px;
  line-height: 30px;
  color: $secondary-color;
}

@import "buttons-big";
@import "buttons-small";
@import "tag";