$primary-color: #18A0FB;
$secondary-color: #2c2c2c;
$white: #fff;
$light: #091133;
$light-gray: #878787;
$transparent: transparent;
$warning: #FF3E1D;
$success: #00D200;
$disabled: rgba(224, 224, 224, 0.3);
$border-color: #E0E0E0;
$font-s: 13px;
$font-m: 15px;